.layer-container {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 70px;
    font-weight: 700;
}

.indicator {
    font-size: 80px;
    color: #707070 !important;
    cursor: pointer;
}

.indicator:hover {
    text-decoration: none;
}

.color-box {
    background-color: #E1DADA;
}

.category-title {
    position: relative;
    z-index: 1;
    
    font-size: 65px;
}

.category-title::before {
    border-top: 34px solid #FF7E7E;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.frontpage-content {
    background: linear-gradient(#aaa, #aaa) no-repeat center/3px 100%;
}

.frontpage-footer {
    background-color: #E1DADA;
    height: 200px;

    margin-top: 400px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.flex-container > div {
    width: 200px;
    height: 100px;
    margin: 10px;
    text-align: center;
}

article {
    color: lightgray;
    font-weight: bold;
    font-size: 25px;
}