.select-box {
    border: none;
    background-color: white;
    color: grey;
}

.select-box:focus {
    outline: none;
}

/*Remove arrow from select element*/
.select-box {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.shop-item {
    border-color: #E2E2E2;
    border-width: 1px;
    border-style: solid;
}

.shop-item > div > a > img {
    transition: transform 1.7s ease;
}

.shop-item > div > a > img:hover {
    transform: scale(1.4);
}

.img-container {
    overflow: hidden;
}

.load-button {
    background-color: white;
    border: solid #E2E2E2 1px;
    
    padding: 5px 50px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.load-button:hover {
    background-color: #FF7E7E;
}