@{
    ViewData["Title"] = "Index";
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/js/shop-index.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/shop-index.css" />
}

<div class="container-fluid text-center" id="shopApp">

    <!--Filter-->
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <span class="text-secondary">Kategorier:</span>
                    <select v-model="selected.category" class="select-box">
                        <option value="Alle">Alle</option>
                        <option v-for="category in categories" :value="category.id">{{category.category}}</option>
                    </select>
                </div>
                <div class="col-lg-4 mb-3">
                    <span class="text-secondary">Brands:</span>
                    <select v-model="selected.brand" class="select-box">
                        <option value="Alle">Alle</option>
                        <option v-for="brand in brands" :value="brand.id">{{brand.brand}}</option>
                    </select>
                </div>
                <div class="col-lg-4 mb-3">
                    <span class="text-secondary">Farver:</span>
                    <select v-model="selected.color" class="select-box">
                        <option value="Alle">Alle</option>
                        <option v-for="color in colors" :value="color.id">{{color.color}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <hr />

    <!--Item list-->
    <div class="row" v-for="productRange in products" :key="productRange.id">
        <div class="col-xl-4" v-for="product in productRange" :key="product.id" style="padding: 10px;">
            <div class="shop-item">
                <div class="img-container">
                    <a :href="'/shop/item/' + product.productId">
                        <img :src="product.images[0].imagePath" class="img-fluid" alt="product" width="500" height="500" />
                    </a>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-6" style="word-break: break-word">{{product.name}}</div>
                    <div class="col-sm-6">{{product.price}} kr,-</div>
                </div>
            </div>
        </div>
    </div>
    <input type="button" class="load-button" v-on:click="loadProductRange" value="Indlæs flere" />
</div>
